.react-calendar {
    background: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background: transparent;
}

.react-calendar__navigation button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.25rem;
    border-radius: 9999px;
    transition: color 0.3s ease;
}

.react-calendar__navigation button:hover {
    color: #a78bfa;
    background: transparent;
    border: none;
    box-shadow: none;
}

.react-calendar__navigation__label {
    font-size: 1px;
    font-weight: 600;
    color: white;
    pointer-events: none;
    background: transparent;
    box-shadow: none;
}

/* Dias da semana */
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    color: #9ca3af;
    margin-bottom: 0.5rem;
}

.react-calendar__month-view__weekdays__weekday {
    text-decoration: none !important;
    font-size: 0.75rem;
    color: #9ca3af;
}

/* Dias */
.react-calendar__tile {
    background: transparent;
    color: white;
    text-align: center;
    padding: 0.5rem; /* padding simétrico para evitar oval */
    border-radius: 9999px;
    position: relative;
    z-index: 2;
    transition: background 0.2s ease;
    min-width: 2.5rem; /* largura mínima para círculo perfeito */
    min-height: 2.5rem; /* altura mínima para círculo perfeito */
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-calendar__tile:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #a78bfa; /* roxo claro para maior contraste */
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: rgba(255, 255, 255, 0.2);
}

.react-calendar__tile.event-day {
    border: 2px solid #facc15; /* Diminuir a espessura da borda */
    border-radius: 50%;
    color: #facc15; /* cor do texto combinando */
    font-weight: 600;
    box-sizing: border-box;
    padding: 0.3rem; /* Diminuir o padding para reduzir o tamanho total */
}

.react-calendar__tile--active {
    background: #a78bfa !important; /* roxo */
    color: white !important;
    border-radius: 50%;
    box-shadow: 0 0 8px #a78bfa;
    z-index: 3;
    border: none !important;
}

/* Faixa horizontal preta para o dia ativo */
.react-calendar__tile--active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2.5rem;
    background: #111827;
    z-index: -1;
    transform: translateY(-50%);
    border-radius: 0.75rem;
}

/* Remover foco azul */
.react-calendar__tile:focus {
    outline: none;
    box-shadow: none;
}

